In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import warnings

##df = pd.read_csv('C:/Users/Dishita Neve/Sales_Forecast/Input/Champion_Data_Historical_Data.csv')
df = pd.read_excel('C:/Users/Dishita Neve/Sales_Forecast/Input/Sales_edit.xlsx')
df['Location'] = df['Location'].str.title()
df['Location'] = df['Location'].replace('Coloradosp', 'Colorado')

In [2]:
city_state_dict = {
    'Albany': 'New York',
    'Albuquerque': 'New Mexico',
    'Atlanta': 'Georgia',
    'Austin': 'Texas',
    'Baltimore': 'Maryland',
    'Birmingham': 'Alabama',
    'Boise': 'Idaho',
    'Charlotte': 'North Carolina',
    'Chattanooga': 'Tennessee',
    'Chicago': 'Illinois',
    'Cincinnati': 'Ohio',
    'Cleveland': 'Ohio',
    'Coloradosp': 'Colordo',
    'Colorado': 'Colordo',
    'Columbia': 'South Carolina',
    'Columbusoh': 'Ohio',
    'Dayton': 'Ohio',
    'Denver': 'Colorado',
    'Evansville': 'Indiana',
    'Ftcollins': 'Colorado',
    'Ftworth': 'Texas',
    'Grandrapids': 'Michigan',
    'Greensboro': 'North Carolina',
    'Huntsville': 'Alabama',
    'Indianapolis': 'Indiana',
    'Johnsoncity': 'Tennessee',
    'Kansascity': 'Missouri',
    'Lexington': 'Kentucky',
    'Louisville': 'Kentucky',
    'Macon': 'Georgia',
    'Memphis': 'Tennessee',
    'Milwaukee': 'Wisconsin',
    'Minneapolis': 'Minnesota',
    'Nashville': 'Tennessee',
    'Oklahomacity': 'Oklahoma',
    'Omaha': 'Nebraska',
    'Pittsburgh': 'Pennsylvania',
    'Portland': 'Oregon',
    'Raleigh': 'North Carolina',
    'Richmondva': 'Virginia',
    'Rochester': 'New York',
    'Saltlakecity': 'Utah',
    'Sanantonio': 'Texas',
    'Seattle': 'Washington',
    'Southbend': 'Indiana',
    'Stlouis': 'Missouri',
    'Toledo': 'Ohio',
    'Tulsa': 'Oklahoma',
    'Wichita': 'Kansas'
}

In [3]:
df['State'] = df['Location'].map(city_state_dict)

In [4]:
df.head(5)

,Date,Location,Budget,CPA,APPT.created,Conversion.ran,APPT.ran,Conversion.close,Orders,Average.ticket,Sales,Day,Month,Year,State
0,2015-01-01,Albany,17931.0,717,25.0,0.800000,20.0,0.300000,6.0,4728.0,28368,1,1,2015,New York
1,2015-02-01,Albany,33143.0,571,58.0,0.862069,50.0,0.260000,13.0,12533.0,162929,1,2,2015,New York
2,2015-03-01,Albany,65600.0,820,80.0,0.875000,70.0,0.242857,17.0,12260.0,208420,1,3,2015,New York
3,2015-04-01,Albany,76460.0,490,156.0,0.916667,143.0,0.300699,43.0,7430.0,319490,1,4,2015,New York
4,2015-05-01,Albany,77819.0,894,87.0,1.218391,106.0,0.216981,23.0,12322.0,283406,1,5,2015,New York

In [5]:
df['State'].nunique()

28

In [6]:
df['State'].unique()

array(['New York', 'New Mexico', 'Georgia', 'Texas', 'Maryland',
       'Alabama', 'Idaho', 'North Carolina', 'Tennessee', 'Illinois',
       'Ohio', 'Colordo', 'South Carolina', 'Colorado', 'Indiana',
       'Michigan', 'Missouri', 'Kentucky', 'Wisconsin', 'Minnesota',
       'Oklahoma', 'Nebraska', 'Pennsylvania', 'Oregon', 'Virginia',
       'Utah', 'Washington', 'Kansas'], dtype=object)

In [7]:
states = df['State'].unique().tolist()

In [8]:
states = ['New York', 'New Mexico', 'Georgia', 'Texas', 'Maryland',
          'Alabama', 'Idaho', 'North Carolina', 'Tennessee', 'Illinois',
          'Ohio', 'Colordo', 'South Carolina', 'Colorado', 'Indiana',
          'Michigan', 'Missouri', 'Kentucky', 'Wisconsin', 'Minnesota',
          'Oklahoma', 'Nebraska', 'Pennsylvania', 'Oregon', 'Virginia',
          'Utah', 'Washington', 'Kansas']

region_dict = {}

northeast = ['New York','Pennsylvania']
southwest = ['New Mexico','Oklahoma','Texas']
west = ['Colorado', 'Idaho', 'Oregon', 'Utah', 'Washington','Colordo']
southeast = ['Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Alabama', 'Virginia','Tennessee']
midwest = ['Illinois', 'Ohio', 'Indiana', 'Michigan', 'Missouri', 'Kentucky', 'Wisconsin', 'Minnesota', 'Nebraska', 'Kansas']

for state in states:
    if state in northeast:
        region_dict[state] = 'Northeast'
    elif state in southwest:
        region_dict[state] = 'Southwest'
    elif state in west:
        region_dict[state] = 'West'
    elif state in southeast:
        region_dict[state] = 'Southeast'
    elif state in midwest:
        region_dict[state] = 'Midwest'

print(region_dict)

{'New York': 'Northeast', 'New Mexico': 'Southwest', 'Georgia': 'Southeast', 'Texas': 'Southwest', 'Maryland': 'Southeast', 'Alabama': 'Southeast', 'Idaho': 'West', 'North Carolina': 'Southeast', 'Tennessee': 'Southeast', 'Illinois': 'Midwest', 'Ohio': 'Midwest', 'Colordo': 'West', 'South Carolina': 'Southeast', 'Colorado': 'West', 'Indiana': 'Midwest', 'Michigan': 'Midwest', 'Missouri': 'Midwest', 'Kentucky': 'Midwest', 'Wisconsin': 'Midwest', 'Minnesota': 'Midwest', 'Oklahoma': 'Southwest', 'Nebraska': 'Midwest', 'Pennsylvania': 'Northeast', 'Oregon': 'West', 'Virginia': 'Southeast', 'Utah': 'West', 'Washington': 'West', 'Kansas': 'Midwest'}

In [9]:
df['Region'] = df['State'].map(region_dict)

In [10]:
df

,Date,Location,Budget,CPA,APPT.created,Conversion.ran,APPT.ran,Conversion.close,Orders,Average.ticket,Sales,Day,Month,Year,State,Region
0,2015-01-01,Albany,17931.0,717,25.0,0.800000,20.0,0.300000,6.0,4728.0,28368,1,1,2015,New York,Northeast
1,2015-02-01,Albany,33143.0,571,58.0,0.862069,50.0,0.260000,13.0,12533.0,162929,1,2,2015,New York,Northeast
2,2015-03-01,Albany,65600.0,820,80.0,0.875000,70.0,0.242857,17.0,12260.0,208420,1,3,2015,New York,Northeast
3,2015-04-01,Albany,76460.0,490,156.0,0.916667,143.0,0.300699,43.0,7430.0,319490,1,4,2015,New York,Northeast
4,2015-05-01,Albany,77819.0,894,87.0,1.218391,106.0,0.216981,23.0,12322.0,283406,1,5,2015,New York,Northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,2018-08-01,Wichita,NaN,0,0.0,NaN,0.0,NaN,0.0,0.0,0,1,8,2018,Kansas,Midwest
2300,2018-09-01,Wichita,NaN,0,0.0,NaN,0.0,NaN,0.0,0.0,0,1,9,2018,Kansas,Midwest
2301,2018-10-01,Wichita,NaN,0,0.0,NaN,0.0,NaN,0.0,0.0,0,1,10,2018,Kansas,Midwest
2302,2018-11-01,Wichita,NaN,0,0.0,NaN,0.0,NaN,0.0,0.0,0,1,11,2018,Kansas,Midwest
2303,2018-12-01,Wichita,NaN,0,0.0,NaN,0.0,NaN,0.0,0.0,0,1,12,2018,Kansas,Midwest

In [11]:
df['Region'].unique()

array(['Northeast', 'Southwest', 'Southeast', 'West', 'Midwest'],
      dtype=object)

In [12]:
df['Region'].nunique()

5

In [13]:
df.head(5)

,Date,Location,Budget,CPA,APPT.created,Conversion.ran,APPT.ran,Conversion.close,Orders,Average.ticket,Sales,Day,Month,Year,State,Region
0,2015-01-01,Albany,17931.0,717,25.0,0.800000,20.0,0.300000,6.0,4728.0,28368,1,1,2015,New York,Northeast
1,2015-02-01,Albany,33143.0,571,58.0,0.862069,50.0,0.260000,13.0,12533.0,162929,1,2,2015,New York,Northeast
2,2015-03-01,Albany,65600.0,820,80.0,0.875000,70.0,0.242857,17.0,12260.0,208420,1,3,2015,New York,Northeast
3,2015-04-01,Albany,76460.0,490,156.0,0.916667,143.0,0.300699,43.0,7430.0,319490,1,4,2015,New York,Northeast
4,2015-05-01,Albany,77819.0,894,87.0,1.218391,106.0,0.216981,23.0,12322.0,283406,1,5,2015,New York,Northeast

In [14]:
df = df[df['Orders'] != 0]
df = df[df['Year'] != 2018]

In [15]:
print('Dropping Duplicate rows in dataframe',df.shape)
df.drop_duplicates(inplace=True, ignore_index=True)
print('Total Size of data after dropping duplicates',df.shape)

Dropping Duplicate rows in dataframe (1682, 16)
Total Size of data after dropping duplicates (1682, 16)

In [16]:
# Changing date column data type to date
# df['Month'] = pd.to_datetime(df['Month'])
# # Adding Year and Month Column
# df['Year'] = df['Month'].dt.year
# df['month'] = df['Month'].dt.month
#df['Date'] = df['Month'].dt.month

In [17]:
df.columns

Index(['Date', 'Location', 'Budget', 'CPA', 'APPT.created', 'Conversion.ran',
       'APPT.ran', 'Conversion.close', 'Orders', 'Average.ticket', 'Sales',
       'Day ', 'Month', 'Year', 'State', 'Region'],
      dtype='object')

In [18]:
df['Location'].nunique()

48

In [19]:
vc = df['Location'].value_counts().reset_index(name='Loc_freq') 
vc = vc.sort_values('Loc_freq', ascending=False)
vc.head(5)

           index  Loc_freq
0         Denver        36
1     Cincinnati        36
26   Albuquerque        35
27  Indianapolis        35
28       Atlanta        35

In [20]:
df.Location.unique()

array(['Albany', 'Albuquerque', 'Atlanta', 'Austin', 'Baltimore',
       'Birmingham', 'Boise', 'Charlotte', 'Chattanooga', 'Chicago',
       'Cincinnati', 'Cleveland', 'Colorado', 'Columbia', 'Columbusoh',
       'Dayton', 'Denver', 'Evansville', 'Ftcollins', 'Ftworth',
       'Grandrapids', 'Greensboro', 'Huntsville', 'Indianapolis',
       'Johnsoncity', 'Kansascity', 'Lexington', 'Louisville', 'Macon',
       'Memphis', 'Milwaukee', 'Minneapolis', 'Nashville', 'Oklahomacity',
       'Omaha', 'Pittsburgh', 'Portland', 'Raleigh', 'Richmondva',
       'Rochester', 'Saltlakecity', 'Sanantonio', 'Seattle', 'Southbend',
       'Stlouis', 'Toledo', 'Tulsa', 'Wichita'], dtype=object)

In [21]:
df['Month'].min()

1

In [22]:
df['Month'].max()

12

In [23]:
df['Conversion.close'].value_counts()

0.250000    16
0.333333    13
0.200000     9
0.265306     7
0.266667     6
            ..
0.353846     1
0.443548     1
0.463659     1
0.406504     1
0.437500     1
Name: Conversion.close, Length: 1283, dtype: int64

In [24]:
df.isna().sum()

Date                0
Location            0
Budget              0
CPA                 0
APPT.created        0
Conversion.ran      0
APPT.ran            0
Conversion.close    0
Orders              0
Average.ticket      0
Sales               0
Day                 0
Month               0
Year                0
State               0
Region              0
dtype: int64

In [25]:
# Dropping rows which have missing 'Budget' values
print('Before dropping any value',df.shape)
df.dropna(subset=['Budget'], inplace=True)
print('After dropping null value',df.shape)

Before dropping any value (1682, 16)
After dropping null value (1682, 16)

In [26]:
df.isna().sum()

Date                0
Location            0
Budget              0
CPA                 0
APPT.created        0
Conversion.ran      0
APPT.ran            0
Conversion.close    0
Orders              0
Average.ticket      0
Sales               0
Day                 0
Month               0
Year                0
State               0
Region              0
dtype: int64

In [27]:
print(df.shape)
df = df[df['Budget'] >= 0]
print(df.shape)

(1682, 16)
(1680, 16)

In [28]:
##df = df.rename(columns={'Month': 'Date'})

In [29]:
df['Year'].unique()

array([2015, 2016, 2017], dtype=int64)

In [30]:
# Define the mapping of values to be replaced
value_map = {2015: 2020, 2016: 2021, 2017: 2022}
# Replace the values in the column
df['Year'] = df['Year'].replace(value_map)
# For months
m = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
df['Month m'] = df['Month']
df['Month m'] = df['Month m'].replace(m)
df['Date'] = df['Year'].astype(str) + '-' + df['Month'].astype(str) + '-' + '1'

In [31]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
df[["Location_n"]] = encoder.fit_transform(df[["Location"]])

In [32]:
df.head(5)

,Date,Location,Budget,CPA,APPT.created,Conversion.ran,APPT.ran,Conversion.close,Orders,Average.ticket,Sales,Day,Month,Year,State,Region,Month m,Location_n
0,2020-1-1,Albany,17931.0,717,25.0,0.800000,20.0,0.300000,6.0,4728.0,28368,1,1,2020,New York,Northeast,Jan,0.0
1,2020-2-1,Albany,33143.0,571,58.0,0.862069,50.0,0.260000,13.0,12533.0,162929,1,2,2020,New York,Northeast,Feb,0.0
2,2020-3-1,Albany,65600.0,820,80.0,0.875000,70.0,0.242857,17.0,12260.0,208420,1,3,2020,New York,Northeast,Mar,0.0
3,2020-4-1,Albany,76460.0,490,156.0,0.916667,143.0,0.300699,43.0,7430.0,319490,1,4,2020,New York,Northeast,Apr,0.0
4,2020-5-1,Albany,77819.0,894,87.0,1.218391,106.0,0.216981,23.0,12322.0,283406,1,5,2020,New York,Northeast,May,0.0

In [33]:
k = df[['Location','Location_n']]
k.drop_duplicates(inplace=True)

C:\Users\Dishita Neve\AppData\Local\Temp\ipykernel_21996\2159467920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k.drop_duplicates(inplace=True)

In [34]:
k['Location'].tolist()

['Albany',
 'Albuquerque',
 'Atlanta',
 'Austin',
 'Baltimore',
 'Birmingham',
 'Boise',
 'Charlotte',
 'Chattanooga',
 'Chicago',
 'Cincinnati',
 'Cleveland',
 'Colorado',
 'Columbia',
 'Columbusoh',
 'Dayton',
 'Denver',
 'Evansville',
 'Ftcollins',
 'Ftworth',
 'Grandrapids',
 'Greensboro',
 'Huntsville',
 'Indianapolis',
 'Johnsoncity',
 'Kansascity',
 'Lexington',
 'Louisville',
 'Macon',
 'Memphis',
 'Milwaukee',
 'Minneapolis',
 'Nashville',
 'Oklahomacity',
 'Omaha',
 'Pittsburgh',
 'Portland',
 'Raleigh',
 'Richmondva',
 'Rochester',
 'Saltlakecity',
 'Sanantonio',
 'Seattle',
 'Southbend',
 'Stlouis',
 'Toledo',
 'Tulsa',
 'Wichita']

In [35]:
k.columns

Index(['Location', 'Location_n'], dtype='object')

In [36]:
a = k['Location']
b = k['Location_n']

my_dict = {key: value for key, value in zip(a,b)}

# Print the dictionary
print(my_dict)

{'Albany': 0.0, 'Albuquerque': 1.0, 'Atlanta': 2.0, 'Austin': 3.0, 'Baltimore': 4.0, 'Birmingham': 5.0, 'Boise': 6.0, 'Charlotte': 7.0, 'Chattanooga': 8.0, 'Chicago': 9.0, 'Cincinnati': 10.0, 'Cleveland': 11.0, 'Colorado': 12.0, 'Columbia': 13.0, 'Columbusoh': 14.0, 'Dayton': 15.0, 'Denver': 16.0, 'Evansville': 17.0, 'Ftcollins': 18.0, 'Ftworth': 19.0, 'Grandrapids': 20.0, 'Greensboro': 21.0, 'Huntsville': 22.0, 'Indianapolis': 23.0, 'Johnsoncity': 24.0, 'Kansascity': 25.0, 'Lexington': 26.0, 'Louisville': 27.0, 'Macon': 28.0, 'Memphis': 29.0, 'Milwaukee': 30.0, 'Minneapolis': 31.0, 'Nashville': 32.0, 'Oklahomacity': 33.0, 'Omaha': 34.0, 'Pittsburgh': 35.0, 'Portland': 36.0, 'Raleigh': 37.0, 'Richmondva': 38.0, 'Rochester': 39.0, 'Saltlakecity': 40.0, 'Sanantonio': 41.0, 'Seattle': 42.0, 'Southbend': 43.0, 'Stlouis': 44.0, 'Toledo': 45.0, 'Tulsa': 46.0, 'Wichita': 47.0}

In [38]:
df = df.rename(columns={'Location': 'City'})
df['CPA'] = df['Budget']/df['APPT.created']
df['CPA'] = df['CPA'].round()
df['Conversion.ran'] = df['Conversion.ran'].round(2)
df['Conversion.close'] = df['Conversion.close'].round(2)

In [39]:
df.columns

Index(['Date', 'City', 'Budget', 'CPA', 'APPT.created', 'Conversion.ran',
       'APPT.ran', 'Conversion.close', 'Orders', 'Average.ticket', 'Sales',
       'Day ', 'Month', 'Year', 'State', 'Region', 'Month m', 'Location_n'],
      dtype='object')

In [40]:
df.head(5)

,Date,City,Budget,CPA,APPT.created,Conversion.ran,APPT.ran,Conversion.close,Orders,Average.ticket,Sales,Day,Month,Year,State,Region,Month m,Location_n
0,2020-1-1,Albany,17931.0,717.0,25.0,0.80,20.0,0.30,6.0,4728.0,28368,1,1,2020,New York,Northeast,Jan,0.0
1,2020-2-1,Albany,33143.0,571.0,58.0,0.86,50.0,0.26,13.0,12533.0,162929,1,2,2020,New York,Northeast,Feb,0.0
2,2020-3-1,Albany,65600.0,820.0,80.0,0.88,70.0,0.24,17.0,12260.0,208420,1,3,2020,New York,Northeast,Mar,0.0
3,2020-4-1,Albany,76460.0,490.0,156.0,0.92,143.0,0.30,43.0,7430.0,319490,1,4,2020,New York,Northeast,Apr,0.0
4,2020-5-1,Albany,77819.0,894.0,87.0,1.22,106.0,0.22,23.0,12322.0,283406,1,5,2020,New York,Northeast,May,0.0

In [41]:
df.to_excel('C:/Users/Dishita Neve/Sales_Forecast/Input/Data_Cleaning.xlsx',index= False)

In [36]:
#df = df.drop('Location_n', axis=1)
#df[["Location"]] = encoder.fit_transform(df[["Location"]])

In [37]:
def assign_category(order):
    if order > 100:
        return 1
    elif order > 200:
        return 2
    elif order > 300 :
        return 3
    elif order == 0 :
        return 0
    else:
        return 4
    
    
def assign_seasonality(order):
    if order in [11,12,1,2]:
        return 1
    elif order in [3,4,5,6]:
        return 2
    elif order in [7,8,9,10] :
        return 3
    

df['category'] = df['Orders'].apply(assign_category)
df['seasonality'] = df['month'].apply(assign_seasonality)

In [38]:
df.columns

Index(['Date', 'Location', 'Budget', 'CPA', 'APPT.created', 'Conversion.ran',
       'APPT.ran', 'Conversion.close', 'Orders', 'Average.ticket', 'Sales',
       'State', 'Region', 'Year', 'month', 'category', 'seasonality'],
      dtype='object')

In [39]:
X = df[['Location_n','Budget','Year','CPA','Month','category', 'seasonality']]
y = df[['Sales']]

In [40]:
X.shape

(1682, 7)

In [41]:
X_train = X #X[:1900]
y_train = y #y[:1900]
X_test =  X
y_test =  y

In [42]:
X.columns

Index(['Location', 'Budget', 'Year', 'CPA', 'month', 'category',
       'seasonality'],
      dtype='object')

In [43]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

regressor = DecisionTreeRegressor()
# Training the decision tree regressor model
regressor.fit(X_train, y_train)
# Making predictions on the test set
y_pred_dt = regressor.predict(X_test)

mse = round(mean_squared_error(y_test, y_pred_dt),2)
print("Mean Squared Error:", mse)

rmse = round(np.sqrt(mse),2)
print("Root Mean Square Error",rmse)

mae = round(mean_absolute_error(y_test, y_pred_dt),2)
print("Mean Absolute Error : ", mae)

r2 = round(r2_score(y_test, y_pred_dt),2)
print("Accuracy is : ", r2)

Mean Squared Error: 0.0
Root Mean Square Error 0.0
Mean Absolute Error :  0.0
Accuracy is :  1.0

In [44]:
from sklearn.ensemble import RandomForestRegressor

reg_rf = DecisionTreeRegressor()
# Training the decision tree regressor model
reg_rf.fit(X_train, y_train)
# Making predictions on the test set
y_pred_rf = reg_rf.predict(X_test)

mse = round(mean_squared_error(y_test, y_pred_rf),2)
print("Mean Squared Error:", mse)

rmse = round(np.sqrt(mse),2)
print("Root Mean Square Error",rmse)

mae = round(mean_absolute_error(y_test, y_pred_rf),2)
print("Mean Absolute Error : ", mae)

r2 = round(r2_score(y_test, y_pred_rf),2)
print("Accuracy is : ", r2)

Mean Squared Error: 0.0
Root Mean Square Error 0.0
Mean Absolute Error :  0.0
Accuracy is :  1.0

In [45]:
import xgboost as xgb
regressor = xgb.XGBRegressor()
# Training the decision tree regressor model
regressor.fit(X_train, y_train)
# Making predictions on the test set
y_pred_xgb = regressor.predict(X_test)

y_pred_xgb  = np.round(y_pred_xgb)
mse = round(mean_squared_error(y_test, y_pred_xgb),2)
print("Mean Squared Error:", mse)

rmse = round(np.sqrt(mse),2)
print("Root Mean Square Error",rmse)

mae = round(mean_absolute_error(y_test, y_pred_xgb),2)
print("Mean Absolute Error : ", mae)

r2 = round(r2_score(y_test, y_pred_xgb),2)
print("Accuracy is : ", r2)

Mean Squared Error: 780482436.88
Root Mean Square Error 27937.12
Mean Absolute Error :  20025.02
Accuracy is :  0.99

In [46]:
from sklearn.metrics import mean_absolute_percentage_error
print(mean_absolute_percentage_error(y_test,y_pred_xgb))

0.07042547208680926

In [47]:
import pickle
with open('sales_forecast.pkl', 'wb') as file:
    #pickle.dump(regressor,file)
    pickle.dump(reg_rf,file)

In [48]:
y_pred_xgb.mean()

462825.1

In [49]:
y_test.mean()-y_pred_xgb.mean()

Sales    45.622065
dtype: float64

In [50]:
y_test.mean().values[0] -y_pred_xgb.mean()

45.622064506518655

In [51]:
df.columns

Index(['Date', 'Location', 'Budget', 'CPA', 'APPT.created', 'Conversion.ran',
       'APPT.ran', 'Conversion.close', 'Orders', 'Average.ticket', 'Sales',
       'State', 'Region', 'Year', 'month', 'category', 'seasonality'],
      dtype='object')